{% extends "layout.html" %}

{% load staticfiles %}

{% block title %}TID{% endblock %}

{% block content %}
    <div class="container">
      <div><img src="{% static 'tidapp/img/about-intro.jpg' %}" class="img-responsive" alt="about-intro"></div>
      <h4 class="about-h4">TID（深圳天聚创想网络科技有限公司）是一家出身于互联网的综合性创意设计服务公司，拥有国际化创意理念与新锐的设计团队。旨在提供极具创新的互联网营销方案及高品质的网站设计。当大部分设计服务公司拿着第一、颠覆等等这些词来当作他们的外衣示人时，我们做的，只是反身以诚，用秉承着互联网思维的创意方案服务于合作伙伴；用新锐独到的设计理念，诠释着我们在这个互联网浪潮下的特立独行。我们是TID，用创意，造价值，服务你。</h4>
      <h3 class="about-h3">天聚创想团队</h3>
    </div>

    <div class="container">
    <div>
      <div class="row">
        <div class="col-sm-3 col-xs-6 person">
          <div class="person-img">
            <img src="{% static 'tidapp/img/team1.jpg' %}" class="img-responsive headshot" alt="team1.jpg">
          </div>
          <div>
            <span class="project">A-ZHE</span>
            <br>
            <span class="duties">Desinger</span>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 person">
          <div class="person-img">
            <img src="{% static 'tidapp/img/team1.jpg' %}" class="img-responsive headshot" alt="team1.jpg">
          </div>
          <div>
            <span class="project">A-ZHE</span>
            <br>
            <span class="duties">Desinger</span>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 person">
          <div class="person-img">
            <img src="{% static 'tidapp/img/team1.jpg' %}" class="img-responsive headshot" alt="team1.jpg">
          </div>
          <div>
            <span class="project">A-ZHE</span>
            <br>
            <span class="duties">Desinger</span>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 person">
          <div class="person-img">
            <img src="{% static 'tidapp/img/team1.jpg' %}" class="img-responsive headshot" alt="team1.jpg">
          </div>
          <div>
            <span class="project">A-ZHE</span>
            <br>
            <span class="duties">Desinger</span>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 person">
          <div class="person-img">
            <img src="{% static 'tidapp/img/team1.jpg' %}" class="img-responsive headshot" alt="team1.jpg">
          </div>
          <div>
            <span class="project">A-ZHE</span>
            <br>
            <span class="duties">Desinger</span>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 person">
          <div class="person-img">
            <img src="{% static 'tidapp/img/team1.jpg' %}" class="img-responsive headshot" alt="team1.jpg">
          </div>
          <div>
            <span class="project">A-ZHE</span>
            <br>
            <span class="duties">Desinger</span>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 person">
          <div class="person-img">
            <img src="{% static 'tidapp/img/team1.jpg' %}" class="img-responsive headshot" alt="team1.jpg">
          </div>
          <div>
            <span class="project">A-ZHE</span>
            <br>
            <span class="duties">Desinger</span>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 person">
          <div class="person-img">
            <img src="{% static 'tidapp/img/team1.jpg' %}" class="img-responsive headshot" alt="team1.jpg">
          </div>
          <div>
            <span class="project">A-ZHE</span>
            <br>
            <span class="duties">Desinger</span>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
