{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>TID</title>
    <link href="{% static 'tidapp/css/pace.css' %}" rel="stylesheet">
    <link href="{% static 'tidapp/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tidapp/font-awesome-4.4.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tidapp/css/my-style.css' %}">
    <script src="http://api.map.baidu.com/api?v=1.5&ak=4ggXg1yeQFWL41SKPRmWKPdd" type="text/javascript"></script>
  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar navbar-default">
      <div class="container">

        <div class="navbar-header"> 
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">
              <img alt="Brand" src="{% static 'tidapp/img/logo.png' %}" class="img-responsive">
            </a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'index' %}" {% if nav == 'index' %} class="select" {% endif %}>首页</a></li>
            <li><a href="{% url 'cases' %}" {% if nav == 'cases' %} class="select" {% endif %}>案例</a></li>
            <li><a href="{% url 'about' %}" {% if nav == 'about' %} class="select" {% endif %}>介绍</a></li>
            <li><a href="{% url 'services' %}" {% if nav == 'services' %} class="select" {% endif %}>服务</a></li>
            <li><a href="{% url 'news' %}" {% if nav == 'news' %} class="select" {% endif %}>动态</a></li>
            <li><a href="{% url 'contact' %}" {% if nav == 'contact' %} class="select" {% endif %}>联络</a></li>
          </ul>
        </div>

      </div>
    </div>
    <!-- End Navbar -->

    <div class="container" style="margin-top:30px;">
      <div id="allmap"></div>
    </div>

    <div class="container contact">
      <div class="row">
        <div class="col-sm-6">
          <h2>服务热线：0755-88601289</h2>
          <h4>邮箱：tangen@300web.cn</h4>
          <h4>地址：深圳市福田区中康路雕塑院27楼</h4>
        </div>
        <div class="col-sm-6">
          <p>
            温馨提示：<br/>
            1、您致电咨询时，我们将记录您的信息，然后由总监亲自与您沟通；<br/>
            2、恕我们不提交电话形式的报价，以确保报价的准确、合理；<br/>
            3、本公司未授权任何代理或联盟单位，请勿上当受骗。<br/>
          </p>
        </div>
      </div>
    </div>

    <div class="container cinfo">
      
      <form method="post" action="{% url 'contact' %}">
      {% csrf_token %}
        <label for="advisory_company">您的公司</label>
        <div class="cinfo-box">
          <input {% if form.name.errors %} class="cinfo-box-error" {% endif %} type="text" name="name" id="advisory_company" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入您的公司名称'" placeholder="请输入您的公司名称"></input>
        </div>
        <label for="advisory_phone">您的电话</label>
        <div class="cinfo-box">
          <input {% if form.tel.errors %} class="cinfo-box-error" {% endif %} type="text" name="tel" id="advisory_phone" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入您的电话号码'" placeholder="请输入您的电话号码">
        </div>
        <label for="advisory_content">您的需求</label>
        <div>
          <textarea {% if form.content.errors %} class="cinfo-box-error" {% endif %} name="content" id="advisory_content" onfocus="this.placeholder = ''" onblur="this.placeholder = '请输入您的需求'" placeholder="请输入您的需求"></textarea>
        </div>
        <div>
          <input type="submit" class="submit" onfocus="this.placeholder = ''" onblur="this.placeholder = 'enter your text'" placeholder="提交信息">
        </div>
      </form>

    </div>

    <footer class="container">
      <p>@300web.cn 深圳天聚创想网络科技有限公司 All Rights Reserved 粤ICP备14011019号</p>
    </footer>

    <script type="text/javascript">
      // 百度地图API功能
      var map = new BMap.Map("allmap");
      var point = new BMap.Point(114.066554,22.568897);
      map.centerAndZoom(new BMap.Point(114.066554,22.568897), 21);
      map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
      map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
      map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
      var marker = new BMap.Marker(point);  // 创建标注
      map.addOverlay(marker);              // 将标注添加到地图中
      // marker.setLabel(label);
      marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
    </script>

    <script src="{% static 'tidapp/js/pace.min.js' %}"></script>
    <script src="{% static 'tidapp/js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'tidapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'tidapp/js/tid.js' %}"></script>
  </body>
</html>
