{% extends "layout.html" %}

{% load staticfiles %}

{% block title %}TID{% endblock %}

{% block content %}
    <div class="container">
      <div class="services-border">
        <div class="services-title">
          <h2>设计开发</h2>
          <h4>Design and development</h4>
        </div>
      </div>
    </div>

    <div class="container services">
      <div class="row">
        <div class="col-xs-3">
          <img class="img-responsive" src="{% static 'tidapp/img/services1.jpg' %}" alt="services1">
        </div>
        <div class="col-xs-9">
          <h2>设计开发</h2>
          <h4>-互联网+运营咨询</h4>
          <h4>-电子商务运营咨询</h4>
          <h4>-互联网产品咨询与策划</h4>
          <h4>-互联网技术咨询</h4>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="services-border">
        <div class="services-title">
          <h2>设计开发</h2>
          <h4>Design and development</h4>
        </div>
      </div>
    </div>

    <div class="container services">
      <div class="row">
        <div class="col-xs-3">
          <img class="img-responsive" src="{% static 'tidapp/img/services1.jpg' %}" alt="services1">
        </div>
        <div class="col-xs-9">
          <h2>设计开发</h2>
          <h4>-互联网+运营咨询</h4>
          <h4>-电子商务运营咨询</h4>
          <h4>-互联网产品咨询与策划</h4>
          <h4>-互联网技术咨询</h4>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="services-border">
        <div class="services-title">
          <h2>设计开发</h2>
          <h4>Design and development</h4>
        </div>
      </div>
    </div>

    <div class="container services">
      <div class="row">
        <div class="col-xs-3">
          <img class="img-responsive" src="{% static 'tidapp/img/services1.jpg' %}" alt="services1">
        </div>
        <div class="col-xs-9">
          <h2>设计开发</h2>
          <h4>-互联网+运营咨询</h4>
          <h4>-电子商务运营咨询</h4>
          <h4>-互联网产品咨询与策划</h4>
          <h4>-互联网技术咨询</h4>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="services-border">
        <div class="services-title">
          <h2>设计开发</h2>
          <h4>Design and development</h4>
        </div>
      </div>
    </div>

    <div class="container services">
      <div class="row">
        <div class="col-xs-3">
          <img class="img-responsive" src="{% static 'tidapp/img/services1.jpg' %}" alt="services1">
        </div>
        <div class="col-xs-9">
          <h2>设计开发</h2>
          <h4>-互联网+运营咨询</h4>
          <h4>-电子商务运营咨询</h4>
          <h4>-互联网产品咨询与策划</h4>
          <h4>-互联网技术咨询</h4>
        </div>
      </div>
    </div>
{% endblock %}
